:root {
  --color-primario: #ed6436;
}
ul {
  list-style: none;
}
body {
  font-family: 'Nunito', sans-serif;
}
.logo {
  width: 68px;
  height: 62px;
}
.menu {
  font-size: 35px;
  position: relative;
  top: 15px;
}
.list img {
  width: 100%;
}
.esconder {
  position: relative;
  bottom: 80px;
  color: #fff;
}
@media (min-width:576px) {
  .esconder {
    visibility: hidden;
    transition: visibility 0 0.5s;
  }
  .list li img:hover ~ .esconder {
    visibility: visible;
  }
}
