:root{
    --color-primario: #ed6436;
    --color-secundario: #fff;
}
ul {
  list-style: none;
}
body {
  font-family: 'Nunito', sans-serif;
}
.cabecera{
    box-shadow: 0 5px 10px rgb(180, 180, 180,0.3);
}
.logo {
  width: 68px;
  height: 62px;
}
.menu {
  font-size: 35px;
  position: relative;
  top: 15px;
}
.list img {
  width: 100%;
}
.list li {
  margin-bottom: 32px;
}
.cont-hover {
  position: relative;
}
.esconder {
  position: absolute;
  right: 0;
  left: 0;
  bottom: 3%;
  color: var(--color-secundario);
}
.cont-hover img {
  filter: brightness(60%);
}
@media (min-width:576px) {
  .esconder {
    bottom: 30%;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0.4s linear, opacity 0.4s linear;
  }
  .cont-hover:hover .esconder {
    visibility: visible;
    opacity: 1;
  }
  .cont-hover img {
    filter: brightness(100%);
    transition: filter 0.5s;
  }
  .cont-hover:hover img {
    filter: brightness(60%);
  }
}
.buy{
    background-color: transparent;
    border: 2px solid var(--color-primario);
    border-radius: 0%;
    border-top-left-radius: 0px;
    border-top-right-radius: 25px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
}
.buy:hover{
    background-color: var(--color-primario);
}
.view{
    background-color:  var(--color-primario);
    border-radius: 0%;
    border-top-left-radius: 0px;
    border-top-right-radius: 25px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
}
.view:hover{
    background-color: var(--color-secundario) ;
}
