:root{
    --color-primario: #ed6436;
    --color-secundario: #fff;
}
ul {
  list-style: none;
}
body {
  font-family: 'Nunito', sans-serif;
}
.cabecera{
    box-shadow: 0 5px 10px rgb(180, 180, 180,0.3);
}
.logo {
  width: 68px;
  height: 62px;
}
.menu {
  font-size: 35px;
  position: relative;
  top: 15px;
}
.list img {
  width: 100%;
}
.esconder {
  position: relative;
  bottom: 80px;
  color: #fff;
}
@media (min-width:576px) {
  .esconder {
    visibility: hidden;
    transition: visibility 0 0.5s;
  }
  .list li img:hover ~ .esconder {
    visibility: visible;
  }
.buy{
    border: 2px solid var(--color-primario);
    border-radius: 0%;
    border-top-left-radius: 0px;
    border-top-right-radius: 25px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
}
.buy:hover{
    background-color: var(--color-primario);
}
.view{
    background-color:  var(--color-primario);
    border-radius: 0%;
    border-top-left-radius: 0px;
    border-top-right-radius: 25px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
}
.view:hover{
    background-color: var(--color-secundario) ;
}
